﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>title</h2>

<table border="1">
    <tr>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>DOB</th>
        <th>Picture</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.ForeName</td>
            <td>@item.LastName</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.DOB</td>
            <td><img src="@item.Avatar" /> </td>
        </tr>
    }

</table>